<!doctype html>
<html class="no-js" lang="zxx">
<body [@fadeAndScale]>
    <!-- ? Preloader Start
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../../assets/bienvenida/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="index.html"><img src="../../../assets/bienvenida/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a appOpcionMenuSeleccion href="/bienvenida">Bienvenida</a></li>
                                        <li><a appOpcionMenuSeleccion href="/login">Login</a></li>
                                        <!--<li><a href="doctor.html">Registro</a></li>
                                        <li><a href="department.html">Department</a></li>-->
                                        <li><a appOpcionMenuSeleccion style="cursor: pointer;" (click)="registro()">Registro</a></li>
                                        <!--<li><a href="contact.html">Contact</a></li>-->
                                    </ul>
                                </nav>
                            </div>
                            <!--<div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="#" class="btn header-btn">01654.066.456</a>
                            </div>-->
                        </div>
                    </div>   
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                            <div class="hero__caption">
                                <span>LABORATORIO IV-CLINICA ONLINE</span>
                                <h1 class="cd-headline letters scale">Nos importa tu
                                    <strong class="cd-words-wrapper">
                                        <b class="is-visible">salud</b>
                                    </strong>
                                </h1>
                                <p data-animation="fadeInLeft" data-delay="0.1s">Bienvenidos a la Clínica en Línea, su centro de salud de confianza. Contamos con 6 consultorios, 2 laboratorios físicos y una sala de espera cómoda. Estamos abiertos de lunes a viernes de 8:00 a 19:00 y los sábados de 8:00 a 14:00.</p>
                                <p data-animation="fadeInLeft" data-delay="0.1s">Nuestros profesionales de diversas especialidades atienden a pacientes con citas programadas que pueden solicitar en línea. La duración de las citas es flexible según la especialidad del profesional. También ofrecemos atención integral con profesionales con múltiples especialidades.</p>
                                <p data-animation="fadeInLeft" data-delay="0.1s">Nuestro equipo de administración se encarga de que su visita sea eficiente y satisfactoria. Confíe en nosotros para su salud y bienestar.</p>

                                <!--<a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.5s">Pedir turno <i class="ti-arrow-right"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? About Start-->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="../../../assets/bienvenida/assets/img/gallery/footer_bg.jpg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="../../../assets/bienvenida/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Sobre mi</h4>
                                    <div class="footer-pera">
                                        <p class="info1">
                                            Soy estudiante en la UTN-FRA, cursando la carrera de Técnico Universitario en Programación. 
                                            Este proyecto corresponde a la asignatura Laboratorio IV y tiene como objetivo la creación
                                            de una clinica online para aplicar nuevos conocimientos. Para su desarrollo, he utilizado Angular y 
                                            Firebase.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    <h4>Correo:</h4>
                                    <p>pacugliari&commat;gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="https://github.com/pacugliari"><i class="fab fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/pablo-alberto-cugliari-b092b9269/"><i class="fab fa-linkedin"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    
    </body>
</html>
