<mat-card style="background-color: #3498db;">
    <div class="row" style="max-width: 99%;">
        <div class="col-6">
            <button matTooltip="Especialista" class=" boton profile-button m-3" (click)="ir('registro/especialista')">
                <img src="../../../assets/registro/doctor.png" alt="">
            </button>
        </div>
        <div class="col-6">
            <button matTooltip="Paciente" class="boton profile-button m-3" (click)="ir('registro/paciente')">
                <img src="../../../assets/registro/medico.png" alt="">
            </button>
        </div>
    </div>
</mat-card>
