<!--Main Navigation-->

    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/bienvenida/assets/img/logo/logo.png" height="50" alt="PAC-Clinica logo"
          loading="lazy" style="margin-top: -10vh;margin-left: 1vh;" />
      </a>
      <div class="position-sticky" style="margin-top: -5vh">
        <div class="list-group list-group-flush mx-3 mt-4">
          <button *ngIf="perfilActual === 'Administrador'" class="list-group-item list-group-item-action py-2 ripple" aria-current="true" (click)="verSeccionUsuario()">
            <i class="fas fa-users fa-fw me-3"></i><span class="pl-3">Seccion usuarios</span>
          </button>
          <button  class="list-group-item list-group-item-action py-2 ripple" aria-current="true" (click)="verMiPerfil()">
            <i class="fa fa-address-card fa-fw me-3"></i><span class="pl-3">Mi perfil</span>
          </button>
          <button *ngIf="perfilActual === 'Administrador' || perfilActual === 'Paciente'" class="list-group-item list-group-item-action py-2 ripple" aria-current="true" (click)="verSolicitarTurno()">
            <i class="fa fa-calendar fa-fw me-3"></i><span class="pl-3">Solicitar turno</span>
          </button>
          <button *ngIf="perfilActual === 'Administrador' || 
                          perfilActual === 'Paciente' || 
                          perfilActual === 'Especialista' " 
                  class="list-group-item list-group-item-action py-2 ripple" aria-current="true" (click)="verTurnos()">
            <i class="fa fa-calendar fa-fw me-3"  *ngIf="perfilActual === 'Administrador'"></i><span class="pl-3" *ngIf="perfilActual === 'Administrador'">Turnos</span>
            <i class="fa fa-calendar fa-fw me-3"  *ngIf="perfilActual !== 'Administrador'"></i><span class="pl-3" *ngIf="perfilActual !== 'Administrador'">Mis turnos</span>
          </button>
          <a href="bienvenida" (click)="salir()" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-sign-out-alt fa-fw me-3"></i><span class="pl-3">Salir</span>
          </a>
      
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  

        <a class="navbar-brand" href="#">
          <img src="../../../assets/bienvenida/assets/img/logo/logo.png" height="50" alt="PAC-Clinica logo"
            loading="lazy" style="margin-left: -1vw;" />
        </a>

        <ul class="navbar-nav ms-auto d-flex flex-row">

        </ul>
      </div>

    </nav> -->
    <!-- Navbar -->

  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
      <div *ngIf="pestania===0 && perfilActual === 'Administrador'">
        <app-seccion-usuarios></app-seccion-usuarios>
      </div>
      <div *ngIf="pestania===1">
        <app-mi-perfil></app-mi-perfil>
      </div>
      <div *ngIf="pestania===2">
        <app-solicitar-turno></app-solicitar-turno>
      </div>
      <div *ngIf="pestania===3">
        <app-turnos></app-turnos>
      </div>
    </div>
  </main>
  <!--Main layout-->
